<p>Hi {{ user_name }}!</p>
<p>This is your friendly CG robot reminding you to record your attendance this week!</p>
<p><strong>Link:</strong> <a href="{{ login_url }}">{{ login_url }}</a></p>
<p>Questions? Please email <a href="mailto:cghelp@providencedenver.org">cghelp@providencedenver.org</a></p>
<p>Sincerely,</p>
<p>The CG Attendance Robot</p>
