/**
 * Place your custom styles here.
 */
.col-centered{
    float: none;
    margin: 0 auto;
}

.bt {
  margin-top: 15px;
}

.submit-attendance {
  padding-top: 15px;
  clear: both;
}

.view-header {
  padding-bottom: 15px;
}
